{% extends 'base.html' %}
{% load static %}
{% block title %}
About us - Neuro App
{% endblock title %}
{% block message %}
<section class="mt-2">
    <div class="container">
        <div class="text-center">
            <span><a href="../" style="text-decoration: none; color:black">Home</a> ></span><span><a href="" style="text-decoration: none; color:black">About us</a></span>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-5">
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia excepturi harum quasi minus sapiente sit tenetur, consequuntur fugit saepe eligendi autem assumenda voluptatibus incidunt enim accusantium necessitatibus aut ab magnam.</div>
            </div>
        </div>
    </div>
</section>
{% endblock message%}
