{% extends 'base.html' %}
{% load static %}
{% block title %}
Register - Neuro App
{% endblock title %}
{% block message %}
<section class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <img src="{% static 'images/t.jpg' %}" id="image" style="margin-left: 23px;margin-top: 12px;" class="img-fluid" alt="">
          </div>
          <div class="col-sm-5">
             <div class="card py-5 " style="border: none;">
              <div class="card-body">
                <div class="h4">Sign up for <span class="text-warning">Neuro App</span></div>
                <div class="mb-4">Alreay have an account? <a href="../login">Log in</a></div>
                {% for message in messages %}
                <div style="font-size: smaller;padding: 3px;" class="text-danger text-center bg-light">{{message}}</div>
            {% endfor %}
                <form action="" method="post">
                  {% csrf_token %}
                  <div>
                    <label for="">Email Address</label> <br>
                  <input type="email" class="w-100" style="outline: none;" name="email" id="">
                  </div>
                  <div class="mt-2">
                    <label for="">Firstname</label> <br>
                    <input type="text" style="outline: none;" class="w-100" name="firstname" id="">
                  </div>
                  <div class="mt-2">
                    <label for="">Lastname</label> <br>
                    <input type="text" style="outline: none;" class="w-100" name="lastname" id="">
                  </div>
                  <div class="mt-2">
                    <label for="">Username</label> <br>
                    <input type="text" style="outline: none;" class="w-100" name="username" id="">
                  </div>
                  <div class="mt-2">
                    <label for="">Password</label> <br>
                    <input type="password" style="outline: none;" class="w-100" name="password" id="">
                  </div>
                  <div class="mt-2">
                    <button type="submit" class="btn btn-md bg-dark text-light">Register</button>
                  </div>
            </form>
              </div>
             </div>
          </div>
      </div>
  </div>
</section>
{% endblock message%}
